<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2x2</key>
	<dict>
		<key>cardStartingPosX</key>
		<integer>155</integer>
		<key>cardStartingPosY</key>
		<integer>440</integer>
		<key>diffX</key>
		<integer>177</integer>
		<key>diffY</key>
		<string>220</string>
		<key>levelBg</key>
		<string>2x2_menu.png</string>
		<key>scaleBottomCard</key>
		<real>1.4</real>
		<key>scaleCard</key>
		<real>1.05</real>
		<key>splitIndex</key>
		<integer>2</integer>
		<key>topCard</key>
		<string>card_2x2.png</string>
		<key>uniqueCards</key>
		<integer>2</integer>
	</dict>
	<key>2x3</key>
	<dict>
		<key>cardStartingPosX</key>
		<integer>110</integer>
		<key>cardStartingPosY</key>
		<integer>400</integer>
		<key>diffX</key>
		<integer>83</integer>
		<key>diffY</key>
		<string>130</string>
		<key>levelBg</key>
		<string>2x3_menu.png</string>
		<key>scaleBottomCard</key>
		<real>0.95</real>
		<key>scaleCard</key>
		<real>1.1</real>
		<key>splitIndex</key>
		<integer>3</integer>
		<key>topCard</key>
		<string>card_2x3.png</string>
		<key>uniqueCards</key>
		<integer>3</integer>
	</dict>
	<key>3x3</key>
	<dict>
		<key>SkipIndex</key>
		<integer>5</integer>
		<key>cardStartingPosX</key>
		<integer>112</integer>
		<key>cardStartingPosY</key>
		<integer>480</integer>
		<key>diffX</key>
		<integer>85</integer>
		<key>diffY</key>
		<integer>120</integer>
		<key>levelBg</key>
		<string>3x3_menu.png</string>
		<key>scaleBottomCard</key>
		<integer>1</integer>
		<key>scaleCard</key>
		<real>1.2</real>
		<key>splitIndex</key>
		<integer>3</integer>
		<key>topCard</key>
		<string>card_3x3.png</string>
		<key>uniqueCards</key>
		<integer>4</integer>
	</dict>
	<key>3x4</key>
	<dict>
		<key>cardStartingPosX</key>
		<integer>88</integer>
		<key>cardStartingPosY</key>
		<integer>440</integer>
		<key>diffX</key>
		<integer>40</integer>
		<key>diffY</key>
		<string>80</string>
		<key>levelBg</key>
		<string>3x4_menu.png</string>
		<key>scaleBottomCard</key>
		<real>0.7</real>
		<key>scaleCard</key>
		<real>1.12</real>
		<key>splitIndex</key>
		<integer>4</integer>
		<key>topCard</key>
		<string>card_3x4.png</string>
		<key>uniqueCards</key>
		<integer>6</integer>
	</dict>
	<key>GameCards</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>2x2_1.png</string>
			<key>matchID</key>
			<integer>1</integer>
			<key>matchSound</key>
			<string>sheep.mp3</string>
			<key>soundName</key>
			<string>sheep.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2x2_2.png</string>
			<key>matchID</key>
			<integer>2</integer>
			<key>matchSound</key>
			<string>pig.mp3</string>
			<key>soundName</key>
			<string>pig.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2x3_1.png</string>
			<key>matchID</key>
			<integer>3</integer>
			<key>matchSound</key>
			<string>cow.mp3</string>
			<key>soundName</key>
			<string>cow.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2x3_2.png</string>
			<key>matchID</key>
			<integer>4</integer>
			<key>matchSound</key>
			<string>duck.mp3</string>
			<key>soundName</key>
			<string>duck.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2x3_3.png</string>
			<key>matchID</key>
			<integer>5</integer>
			<key>matchSound</key>
			<string>lion.mp3</string>
			<key>soundName</key>
			<string>lion.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x3_1.png</string>
			<key>matchID</key>
			<integer>6</integer>
			<key>matchSound</key>
			<string>dog.mp3</string>
			<key>soundName</key>
			<string>dog.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x3_2.png</string>
			<key>matchID</key>
			<integer>7</integer>
			<key>matchSound</key>
			<string>mouse.mp3</string>
			<key>soundName</key>
			<string>mouse.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x3_3.png</string>
			<key>matchID</key>
			<integer>8</integer>
			<key>matchSound</key>
			<string>horse.mp3</string>
			<key>soundName</key>
			<string>horse.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x3_4.png</string>
			<key>matchID</key>
			<integer>9</integer>
			<key>matchSound</key>
			<string>polarbear.mp3</string>
			<key>soundName</key>
			<string>polarbear.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_1.png</string>
			<key>matchID</key>
			<integer>10</integer>
			<key>matchSound</key>
			<string>chicken.mp3</string>
			<key>soundName</key>
			<string>chicken.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_2.png</string>
			<key>matchID</key>
			<integer>11</integer>
			<key>matchSound</key>
			<string>monkey.mp3</string>
			<key>soundName</key>
			<string>monkey.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_3.png</string>
			<key>matchID</key>
			<integer>12</integer>
			<key>matchSound</key>
			<string>wolf.mp3</string>
			<key>soundName</key>
			<string>wolf.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_4.png</string>
			<key>matchID</key>
			<integer>13</integer>
			<key>matchSound</key>
			<string>tiger.mp3</string>
			<key>soundName</key>
			<string>tiger.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_5.png</string>
			<key>matchID</key>
			<integer>14</integer>
			<key>matchSound</key>
			<string>elephant.mp3</string>
			<key>soundName</key>
			<string>elephant.m4a</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3x4_6.png</string>
			<key>matchID</key>
			<integer>15</integer>
			<key>matchSound</key>
			<string>goat.mp3</string>
			<key>soundName</key>
			<string>goat.m4a</string>
		</dict>
	</array>
</dict>
</plist>
